{% extends "base.html" %}
<!--Handle password reset request-->
{% block profile %}
    <section class="change-password">
        <h2 class="section-title">Request Password Reset</h2>
        <form method="post" action="" class="form-container">
            <p class="form-text">Enter your email address to receive a password reset link.</p>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.email.label(class="form-label") }} {{ form.email(class="form-input", placeholder="Enter your email") }}
                <!--Email errors-->
                {% for error in form.email.errors %}<span class="error-message">{{ error }}</span>{% endfor %}
            </div>
            <div class="form-group">{{ form.submit(class="submit-button") }}</div>
            <div class="form-group">{{ form.cancel(class="cancel-button", formnovalidate=True) }}</div>
        </form>
    </section>
{% endblock %}
