{% extends "base.html" %}
<!--Handle password reset request-->
{% block profile %}
    <section>
        <h2 class="section-title">Delete Account</h2>
        <form method="post" action="" class="form-container">
            <p class="form-text">
                Are you sure you want to delete your account? This action cannot be
                undone.
            </p>
            {{ form.hidden_tag() }}
            <div class="form-group">{{ form.submit(class="submit-button") }}</div>
            <div class="form-group">{{ form.cancel(class="cancel-button", formnovalidate=True) }}</div>
        </form>
    </section>
{% endblock %}
