{% extends "base.html" %}
<!--About page-->
{% block profile %}
    <section class="about-section">
        <h2 class="section-title">About PrayNet</h2>
        <div class="about-content">
            <p>
                Welcome to PrayNet, a website dedicated to connecting individuals
                through the power of prayer. The mission is to provide a supportive and
                compassionate space where people can share their prayer requests, offer
                prayers for others, and find solace in times of need.
            </p>
            <p>
                At PrayNet, the focus is in the strength of collective prayer and the
                positive impact it can have on our lives. Whether you're seeking comfort,
                guidance, or simply want to uplift others, the PrayNet platform is here to help
                you connect with like-minded individuals who share your faith and values.
            </p>
            <p>
                Join in fostering a community of hope, love, and spiritual growth.
                Together, we can make a difference through the power of prayer.
            </p>
        </div>
    </section>
{% endblock %}
